<div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
        <h1 class="display-4">Alpha Blog</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec porta ligula.</p>
        <hr class="my-4">
        <p>Maecenas in nibh erat. Vivamus tempus eu diam eu feugiat.</p>
        <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
    </div>
</div>